<%= form_for(@scoresheet) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
       <%= f.label :teamnumber %>
      <%= f.text_field :teamnumber, class: 'form-control', :readonly => true %>
   <%= f.label :correctness %>
  
 
<%= f.select :correctness, [ 1, 2, 3, 4, 5 ], :prompt => 'Select One'  %>

    <%= f.label :creativity %>
      <%= f.select :creativity, [ 1, 2, 3, 4, 5 ], :prompt => 'Select One' %>
    <%= f.label :relevence %>
      <%= f.select :relevence, [ 1, 2, 3, 4, 5 ], :prompt => 'Select One' %>
    <%= f.label :sustainability %>
      <%= f.select :sustainability, [ 1, 2, 3, 4, 5 ], :prompt => 'Select One' %>
    <%= f.label :"user experience" %>
      <%= f.select :userexperience, [ 1, 2, 3, 4, 5 ], :prompt => 'Select One' %>

 
  </div>
  <% if current_user.admin?  %>
  <%else %>
  <%= f.submit "Post", class: "btn btn-primary" %>
  
<% end %>
<% end %>